.navbar-inverse{
  background-image:url("https://images.pexels.com/photos/1709038/pexels-photo-1709038.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
}

{
  background-color:green;
}
