.navbar-inverse{
  background-image:url("https://images.pexels.com/photos/1709038/pexels-photo-1709038.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
width: auto;
}

{
  background-color:green;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  width: 300px;
  height: 450px;
  margin-bottom: 10px;
  margin: 10px;
  }
  .card-body{
    color: black;
  } */


.mk1{
float: left;
margin-left: 10px;
}
.mk2{
  float: left;
  margin-right: 10px;

}
.mk3{
  float: right;
}

.button {
  padding: 14px 20px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  float: right;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.boder{
  border: 1px;
  width: 1300px;
  height: 100px;
  background-color: red;
  float: left;
}
.container0 {
  border:solid;
  height:600px;
  background-image:url("https://images.pexels.com/photos/34174/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
}
