.navbar-inverse{
  background-image:url("https://images.pexels.com/photos/1709038/pexels-photo-1709038.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
width: auto;
}

{
  background-color:green;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
<<<<<<< HEAD
/* .card {
=======
.card-deck{
>>>>>>> 81c0ce678c56ea89c7b0873df575d9af9e73e7a0
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  margin: 10px;
  }
<<<<<<< HEAD
  .card-body{
    color: black;
  } */
=======

>>>>>>> 81c0ce678c56ea89c7b0873df575d9af9e73e7a0


.mk1{
float: left;
margin-left: 10px;
}
.mk2{
  float: left;
  margin-right: 10px;

}
.mk3{
  float: right;
}


.btn {
  border: 9px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
}

.default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: #e7e7e7;
}
.container0 {
  border:solid;
  height:420px;
  background-image:url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwj8jJ2BsfDgAhXj1-AKHYU0CZEQjRx6BAgBEAU&url=http%3A%2F%2Fwww.baltana.com%2Ftag%2Fcomputer-technology.html&psig=AOvVaw308LckR3TRgvTZQKPQq56k&ust=1552060217179197";
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  color: blue;
  font-size: 69px;
}
